name: Build iOS
on:
  push:
    branches: [ main ]

jobs:
  build:
    name: Build iOS App
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Install dependencies
        run: flutter pub get

      - name: Fix iOS Deployment Target
        # Changing this to 15.0 to satisfy firebase_core
        run: |
          find . -name "project.pbxproj" -exec sed -i '' 's/IPHONEOS_DEPLOYMENT_TARGET = [0-9.]*/IPHONEOS_DEPLOYMENT_TARGET = 15.0/g' {} +

      - name: Build iOS (No Signing)
        run: flutter build ios --release --no-codesign

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ios-app-build
          path: build/ios/iphoneos/Runner.app